.notify-issues ul {
    list-style-image: url("/regionportalen-theme/images/arrows/04_right.png");
    padding: 0px 0px 0px 10px;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 8px;
}

.notify-issues li span img {
    margin-top: 2px;
}

.notify-head {
    background-image: url("/regionportalen-theme/images/application/panel_header_toggler_close.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    font-size: 14px;
    height: 22px;
    padding-top: 2px;
    padding-left: 24px;
    margin: 0px;
    margin-bottom: 3px;
}

.notify-issues h2:hover {
    background-position: 0px -22px;
}

.notify-issues form input {
    background-image: url("/regionportalen-theme/images/portlet/refresh.png");
    background-repeat: no-repeat;
    background-position: 3px 50%;
    padding-left: 22px;
}

.notify-issues form input:hover {
    background-image: url("/regionportalen-theme/images/portlet/refresh.png");
    background-repeat: no-repeat;
    background-position: 3px 50%;
    padding-left: 22px;
}

.notify-issues .notify-folded {
    background-image: url("/regionportalen-theme/images/application/panel_header_toggler_open.png");
}

.notify-cache {
    margin: 0 20px;
    text-align: right;
}

.notify-refresh {
    text-align: right;
    margin: 0 20px;
    display: block;
}


#notify-open-longlist {
    margin: 0 20px;
    text-align: right;
    cursor: pointer;
    font-size: 14px;
    height: 22px;
}

a.notify-link, a.notify-link:link, a.notify-link:visited {
    text-decoration: none;
    color: #555;
}

.notify-A {
    background-color: #f08080;
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

.notify-phase {
    background-color: #d3d3d3;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    padding: 0 2px 0 3px;
}

